@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.calender-content {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    text-align: center;
    font-size: 1.1rem;
    gap: 0.5rem;
    padding-left: 1rem;
    text-align: left;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.calender-content .day {
    text-align: left;
}
.calender-content .year {
    text-align: right;
    padding-left: 0;
    padding-right: 1rem;
}
