.card {
    border: 2px solid var(--primary-col);
    background-color: var(--bg-light);
    border-radius: 15px;

    min-height: 280px;
    background-color: #fffcff;
}

.card-heading {
    text-transform: uppercase;
    text-align: center;
    display: block;
    place-content: center;
    font-size: 1.3rem;
    min-height: 3rem;
    width: 100%;
}
