footer {
    width: 100%;
    min-height: 10vh;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

footer button {
    outline: none;
    margin: auto;
    border: none;
    width: 100px;
    padding: 0.25rem;
    color: var(--bg-light);
    background-color: var(--primary-col);
    font-size: 1.3rem;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

footer button:hover {
    scale: 1.05;
    opacity: 0.8;
}

.footer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
