html {
    position: relative;
}

.modal {
    /* display: flex; */
    flex-direction: column;
    border: 3px solid var(--primary-col);
    background-color: var(--bg-light);
    border-radius: 15px;
    height: 50%;
    min-height: 325px;
    width: 500px;
    background-color: #fffcff;
    z-index: 2;
    position: fixed;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.modal h4 {
    font-size: 1.7rem;
}

.overlay {
    /* position: absolute; */
    z-index: 1;
    /* width: 100vw;
    height: 100vh; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
}
