@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-col: #8f6dab;
    --text-col: #73768d;
    --bg-col: #f1f1f1;
    --bg-light: #fbfbfb;
    --optional: #e0e0e0;

    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.5;
    /* font-weight: 400; */

    background-color: var(--bg-col);
    color: var(--primary-col);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

main {
    padding: 2rem;
}

.ballet {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form-login {
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
}

.form-control {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-control label,
.form-control input {
    font-weight: 500;
    font-size: 1.2rem;
}

.form-control input {
    padding: 0.5rem;
    color: var(--primary-col);
    border: solid var(--primary-col) 2px;
    height: 50px;
    border-radius: 15px;
}

.form-control-btn {
    display: flex;
    width: 100%;
    height: 52px;
    gap: 4%;
    margin-top: auto;
    transform: translateY(-75%);
}

.form-control-btn button {
    height: 100%;
    width: 48%;
    outline: none;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form-control-btn button:hover,
.form-control-btn button:active {
    opacity: 0.7;
    scale: 1.05;
}

.form-submit-btn {
    border: none;
    color: var(--bg-light);
    background-color: var(--primary-col);
}
.form-cancel-btn {
    background-color: transparent;
    border: 2px solid var(--primary-col);
    color: var(--primary-col);
}
